<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materialator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="materialator.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link href="materialator.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  </head>

  <body ng-app="app" ng-controller="MyController">
  <!-- <body ng-app="app" ng-controller="MyController" ng-strict-di> -->

    <scroll-up-btn></scroll-up-btn>

    <section>
      <nav class="navbar is-fixed-top is-primary dont-print-me" role="navigation" aria-label="main navigation">

        <div class="navbar-brand">
          <span class="navbar-item">
            <p class="title" id="logo">
              Materialator >
            </p>
          </span>

          <a role="button" class="navbar-burger" ng-class="{'is-active': burger}" aria-label="menu" aria-expanded="false"
           ng-init="burger=false;" ng-click="burger=!burger">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>

        </div>
        
        <div class="navbar-menu" ng-class="{'is-active': burger}">

          <!-- <div class="navbar-start">
            <a class="navbar-item">
              Start
            </a>
            <a class="navbar-item">
              Start
            </a>
          </div> -->
          
          <div class="navbar-end">
            <div class="navbar-item">

              <div class="field is-grouped is-grouped-multiline">
                <p class="control">
                  <button class="button is-dark" ng-click="createTemplate()">
                    <span class="icon is-small" style="color:#00d1b2;">
                      <i class="fas fa-edit"></i>
                    </span>
                    <span>Create template</span>
                  </button>
                </p>
                <p class="control">
                  <button class="button is-dark" ng-click="changeTemplate()" type="file" id="changeTemplate">
                    <span class="icon is-small" style="color:#00d1b2;">
                      <i class="fas fa-copy"></i>
                    </span>
                    <span>Change template</span>
                  </button>
                </p>

                <!-- <p class="control">
                  <div class="field">
                    <div class="file is-dark">
                      <label class="file-label">
                        <input class="file-input" type="file" name="resume">
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="fas fa-upload"></i>
                          </span>
                          <span class="file-label">
                            Primary file…
                          </span>
                        </span>
                      </label>
                    </div>
                  </div>
                </p> -->
                
                <p class="control">
                  <button class="button is-dark" ng-click="print()">
                    <span class="icon is-small" style="color:#00d1b2;">
                      <i class="fas fa-print"></i>
                    </span>
                    <span>Print</span>
                  </button>
                </p>
              </div>

            </div>
          </div>

        </div>
      </nav>
    </section>

    <!-- <section class="hero is-primary dont-print-me">
      <div class="hero-body">
        <p class="title">
          Materialator
        </p>
        <p class="subtitle">
          Everything you need to <strong>create material</strong>
        </p>
      </div>
    </section> -->

    <section>
      <div class="cols">

        <div class="column-c dont-print-me">

          <div class="column-tools">
            <div class="column-tools-title">
              <p>Batch Tools</p>
            </div>
            
            <div class="column-tools-content">

              <!-- <form> -->

                <div class="accordion-button" ng-class="{'accordion-button-selected': show1}" ng-init="show1=true;" ng-click="show1=!show1;show2=false;show3=false">
                  <span class="icon">
                    <i class="fas fa-th-large"></i>
                  </span>
                  <div class="accordion-button-text">
                    <p class="accordion-button-title">Grid Options</p>
                  </div>
                  <div class="accordion-button-icon">
                    <span class="icon" ng-if="!show1">
                      <i class="fas fa-chevron-down"></i>
                    </span>
                    <span class="icon" ng-if="show1">
                      <i class="fas fa-minus"></i>
                    </span>
                  </div>
                </div>
                <div class="accordion-content general-tools grid-options" ng-show="show1">

                  <div class="field">
                    <div class="pre-icon">
                      <span class="icon">
                        <i class="fas fa-sort-numeric-down"></i>
                      </span>
                    </div>
                    <div class="input-label">
                      <label class="label">Items quantity</label>
                    </div>
                    <div class="control">
                      <input class="input" type="number" placeholder="" ng-model="itemQuantity" ng-change="ok()">
                    </div>
                  </div>

                  <!-- <div class="field">
                    <label class="label">Item size (cm)</label>
                    <div class="control">
                      <input class="input" type="number" placeholder="" ng-model="itemSize" ng-change="ok()">
                    </div>
                  </div> -->
                  <div class="field">
                    <div class="pre-icon">
                      <span class="icon">
                        <i class="fas fa-arrows-alt-h"></i>
                      </span>
                    </div>
                    <div class="input-label">
                      <label class="label">Item width (cm)</label>
                    </div>
                    <!-- <label class="label">Item width (cm)</label> -->
                    <div class="control">
                      <input class="input" type="number" placeholder="" ng-model="itemWidth" ng-change="ok()">
                    </div>
                  </div>
                  <div class="field">
                    <div class="pre-icon">
                      <span class="icon">
                        <i class="fas fa-arrows-alt-v"></i>
                      </span>
                    </div>
                    <div class="input-label">
                      <label class="label">Item heigt (cm)</label>
                    </div>
                    <!-- <label class="label">Item heigt (cm)</label> -->
                    <div class="control">
                      <input class="input" type="number" placeholder="" ng-model="itemHeight" ng-change="ok()">
                    </div>
                  </div>
                  
                  <div class="field">
                    <div class="pre-icon">
                      <span class="icon">
                        <i class="far fa-plus-square"></i>
                      </span>
                    </div>
                    <div class="input-label">
                      <label class="label">Grid gap (cm)</label>
                    </div>
                    <!-- <label class="label">Row gap (cm)</label> -->
                    <div class="control">
                      <input class="input" type="number" placeholder="" ng-model="rowGap" ng-change="ok()">
                    </div>
                  </div>
              
                  <div class="field">
                    <div class="pre-icon">
                      <span class="icon">
                        <i class="fas fa-expand"></i>
                      </span>
                    </div>
                    <div class="input-label">
                      <label class="label">Border width (px)</label>
                    </div>
                    <!-- <label class="label">Border width (px)</label> -->
                    <div class="control">
                      <input class="input" type="number" placeholder="" ng-model="borderWidth" ng-change="ok()">
                    </div>
                  </div>
              
                  <div class="field">
                    <div class="pre-icon">
                      <span class="icon">
                        <i class="fas fa-paint-brush"></i>
                      </span>
                    </div>
                    <div class="input-label">
                      <label class="label">Border color</label>
                    </div>
                    <!-- <label class="label">Border color</label> -->
                    <div class="control">
                      <input type="color" id="base" value="#ff1493" ng-model="borderColor" ng-change="ok()">
                    </div>
                  </div>

                </div>

                <!-- <div class="accordion-button" ng-class="{'accordion-button-shadow': show3}" ng-init="show3=false;" ng-click="show3=!show3;show1=false;show2=false;">
                  <span class="icon">
                    <i class="fas fa-object-group"></i>
                  </span>
                  <div class="accordion-button-text">
                    <p class="accordion-button-title">Template 2 Options</p>
                  </div>
                  <div class="accordion-button-icon">
                    <span class="icon" ng-if="!show3">
                      <i class="fas fa-plus"></i>
                    </span>
                    <span class="icon" ng-if="show3">
                      <i class="fas fa-minus"></i>
                    </span>
                  </div>
                </div>
                <div class="accordion-content" ng-show="show3" id="toolboxClone">

                  <template2-tool-box></template2-tool-box>

                </div> -->

                <div class="accordion-button" ng-class="{'accordion-button-shadow': show3,'accordion-button-selected': show3}" ng-init="show3=false;" ng-click="show3=!show3;show1=false;show2=false;">
                  <span class="icon">
                    <i class="far fa-object-group"></i>
                  </span>
                  <div class="accordion-button-text">
                    <p class="accordion-button-title">Custom Template Options</p>
                  </div>
                  <div class="accordion-button-icon">
                    <span class="icon" ng-if="!show3">
                      <i class="fas fa-chevron-down"></i>
                    </span>
                    <span class="icon" ng-if="show3">
                      <i class="fas fa-minus"></i>
                    </span>
                  </div>
                </div>
                <!-- <div class="accordion-content" style="overflow: auto;max-height: 830px !important;" ng-show="show3" id="toolboxClone"> -->
                <div class="accordion-content scroll-container" ng-show="show3" id="toolboxClone">

                  <!-- <template2-tool-box></template2-tool-box> -->
                  <!-- <my-image-toolbox></my-image-toolbox> -->

                </div>

              <!-- </form> -->

            </div>
          </div>


        </div>

        <div class="column-a">
          <div class="page" id="page" ng-repeat="(index,val) in pageArr track by $index" ng-init="outerIndex = $index">
            <div class="grid-wrapper">
              <div item item-select item-toolbox type='template1' html="item.template" template='template' item-number="outerIndex * itemsArr[0].length + $index + 1" class="item" id="item{{item.id}}" ng-repeat="item in itemsArr[index] track by item.id">
              </div>
            </div>
          </div>
        </div>

        <div class="column-b dont-print-me" id="elementTools">
          <div style="position: fixed;width: 280px;height: 100%;">
            <div id='itemToolBoxIncludeWrapper' class="hideBlock"></div>
          </div>
        </div>

        <div class="column-blur dont-print-me"></div>

      </div>
    </section>

    <!-- <modal-select-template></modal-select-template> -->

    <modal-create-template class="modal-create-template"></modal-create-template>

  </body>

  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script" rel="stylesheet"> -->

</html>
