:root {
    --column-left-width: 17%;
    --column-left-min-width: 280px;
    --column-left-max-width: 280px;
    /* --iner-shadow: inset 0px 15px 8px -10px #333333, inset 0px -15px 8px -10px #333333; */
    --iner-shadow: inset 0px 20px 20px -20px #000000, inset 0px -20px 20px -20px black;
    --iner-shadow-last: inset 0px 20px 20px -20px #000000;
    /* --html-color: lightslategrey; */
    /* --html-color: #605f69; */
    /* --html-color: #363636; */
    /* --html-color: #46555A; */
    --html-color: #5C6576;
    /* --html-color: #253029; */

    --primary-color: #3B404E;
    --secondary-color: #3b404e;
    --secondary-t-color: #A9B3B5;
    --third-color: #483d8b;
    --forth-color: #363636;

    /* --inpus-color: #363636; */
    --inpus-color: #515769;


    --accordion-item: #483d8b;
    --accordion-item-text: palevioletred;
    --accordion-sub-item-text: palevioletred;
    --accordion-sub-item: #575274;
    /* --accordion-sub-item: #786bc8; */

    --drop-zone-grid-item-font-size:30px;

    --item-size: 9cm;
    --item-width: 9cm;
    --item-height: 9cm;
    --font-size: 60px;
    --image-wrapper-size: 80%;
    --border-width: 3px;
    /* --border-color: #FF1493; */
    --border-color: #db7093;
    --row-gap: 1cm;
    --object-fit: cover;

    --t2BorderImageSize: 20%;
    --t2BackgroundColor:#483d8b;
    --t2BackgroundBorderRadius: 5%;
    --t2BackgroundWidth: 80%;
    --t2BackgroundHeight: 80%;
    --t2FrontImageSize: 70%;
    --t2FrontImagePosX: 0%;
    --t2FrontImagePosY: 30%;
    --t2BorderWidth: 2px;
    --t2BorderColor:#FF1493;
    --t2FontSize: 60px;
    --t2TextPosX: 0px;
    --t2TextPosY: -95px;

    --font-size-s: 80%;
    --font-size-m: 85%;
    --font-size-g: 100%;
}
@font-face {
    font-family: myFont;
    /* src: url(fonts/HelloEtchASketch.ttf); */
    src: url('fonts/HelloEtchASketch.ttf?v=1') format('truetype');
    font-display: swap;
}
* {
    box-sizing: border-box;
    /* font-family: Century Gothic, 'Indie Flower'; */
    }
html{
    background-color: var(--html-color);
}
body{
    /* font-family: 'Indie Flower', cursive; */
    /* font-family: 'Open Sans Condensed', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Raleway', sans-serif;
    /* font-family: 'Nanum Pen Script', cursive; */
}
#logo{
    font-family: 'Indie Flower', cursive;
}
#scrollUpBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    background-color: transparent;
}
#scrollUpBtn span {
    background-color: #363636;
}
.navbar-burger{
    color: #3b404e;
}

/* PRIMARY COLOR OVERRIDE starts----------------------------------------------------- */
.navbar.is-primary {
    background-color: mediumslateblue !important;
    border-color: transparent;
    color: #fff;
}
.button.is-primary {
    background-color: mediumslateblue !important;
    border-color: transparent;
    color: #fff;
}
.button.is-primary.is-outlined {
    background-color: transparent !important;
    border-color: mediumslateblue !important;
    color: mediumslateblue !important;
}
.button.is-primary.is-outlined:focus, .button.is-primary.is-outlined:hover {
    background-color: mediumslateblue !important;
    border-color: mediumslateblue !important;
    color: #fff !important;
}
.button.is-primary.is-focused:not(:active), .button.is-primary:focus:not(:active) {
    -webkit-box-shadow: 0 0 0 0.125em #2e15bc40;
    box-shadow: 0 0 0 0.125em #2e15bc40;
}
/* PRIMARY COLOR OVERRIDE ends-------------------------------------------------------- */

.navbar{
    box-shadow: 0 0px 20px 0px #00000054;
    /* background-color: mediumslateblue !important; */
}

@keyframes apear {
      0% { opacity: 0; transform: translateX(-200%); }
    100% { opacity: 1; transform: translateX(0); }
}
@-webkit-keyframes apear {
      0% { opacity: 0; transform: translateX(-200%); }
    100% { opacity: 1; transform: translateX(0); }
}
@-moz-keyframes apear {
      0% { opacity: 0; transform: translateX(-200%); }
    100% { opacity: 1; transform: translateX(0); }
}

/* @keyframes modal-is-active {
      0% {visibility: visible!important; transform: translateY(-200%); }
    100% {visibility: visible!important; transform: translateY(0); }
}
@-webkit-keyframes modal-is-active {
      0% {visibility: visible!important; transform: translateY(-200%); }
    100% {visibility: visible!important; transform: translateY(0); }
}
@-moz-keyframes modal-is-active {
      0% {visibility: visible!important; transform: translateY(-200%); }
    100% {visibility: visible!important; transform: translateY(0); }
} */
/* @keyframes modal-hide {
      0% {visibility: visible!important; transform: translateY(0%);}
    99% {visibility: visible!important;}
    100% {visibility: hidden!important; transform: translateY(-200%);}
}
@-webkit-keyframes modal-hide {
      0% {visibility: visible!important; transform: translateY(0%);}
    99% {visibility: visible!important;}
    100% {visibility: hidden!important; transform: translateY(-200%);}
}
@-moz-keyframes modal-hide {
      0% {visibility: visible!important; transform: translateY(0%);}
    99% {visibility: visible!important;}
    100% {visibility: hidden!important; transform: translateY(-200%);}
} */

@keyframes jump {
    0%   { transform: translateY(0); }
    25%  { transform: translateY(-25%); }
    50%  { transform: translateY(-50%); }
    75%  { transform: translateY(-25%); }
    100% { transform: translateY(0); }
}
@-webkit-keyframes jump {
    0%   { transform: translateY(0); }
    25%  { transform: translateY(-25%); }
    50%  { transform: translateY(-50%); }
    75%  { transform: translateY(-25%); }
    100% { transform: translateY(0); }
}
@-moz-keyframes jump {
    0%   { transform: translateY(0); }
    25%  { transform: translateY(-25%); }
    50%  { transform: translateY(-50%); }
    75%  { transform: translateY(-25%); }
    100% { transform: translateY(0); }
}

@keyframes slide-down {
      0% { max-height: 0; }
    100% { max-height: 400px;  }
}
@-webkit-keyframes slide-down {
      0% { max-height: 0; }
    100% { max-height: 400px;  }
}
@-moz-keyframes slide-down {
      0% { max-height: 0; }
    100% { max-height: 400px;  }
}

@keyframes slide-up {
    0% {display: block; max-height: 400px;}
    99% {display: block;}
    100% {display: none!important;max-height: 0;}
}
@-webkit-keyframes slide-up {
      0% {display: block; max-height: 400px;}
    99% {display: block;}
    100% {display: none!important;max-height: 0;}
}
@-moz-keyframes slide-up {
      0% {display: block; max-height: 400px;}
    99% {display: block;}
    100% {display: none!important;max-height: 0;}
}

@keyframes notification-show {
    0% { opacity: 0; -webkit-transform: translate3d(0,40px,0) scale3d(0.1,0.6,1); }
	100% { opacity: 1; -webkit-transform: translate3d(0,0,0) scale3d(1,1,1); }
}
/* @-webkit-keyframes notification-show {
      0% { opacity: 0; -webkit-transform: translate3d(0,40px,0) scale3d(0.1,0.6,1); }
	100% { opacity: 1; -webkit-transform: translate3d(0,0,0) scale3d(1,1,1); }
}
@-moz-keyframes notification-show {
      0% { opacity: 0; -webkit-transform: translate3d(0,40px,0) scale3d(0.1,0.6,1); }
	100% { opacity: 1; -webkit-transform: translate3d(0,0,0) scale3d(1,1,1); }
} */

@keyframes splash-out {
    0% { opacity: 1; -webkit-transform: translate3d(0,0,0) scale3d(1,1,1); }
    100% { opacity: 1; -webkit-transform: translate3d(0,-100vh,0) scale3d(1,1,1); }
}
/* @-webkit-keyframes splash-out {
      0% {display: block; max-height: 400px;}
    99% {display: block;}
    100% {display: none!important;max-height: 0;}
}
@-moz-keyframes splash-out {
      0% {display: block; max-height: 400px;}
    99% {display: block;}
    100% {display: none!important;max-height: 0;}
} */

.ng-hide:not(.ng-hide-animate) {
    display: block!important;
    animation: slide-up .2s ease-out;
    animation-fill-mode: forwards;
    overflow: hidden;
    /* -webkit-animation: slide-up .5s ease-in;
    -moz-animation: slide-up .5s ease-in; */
}

/* SPLASH SCREEN */
.splash:not([ng-cloak]) {
    display: block !important;
    color: #00c3a6;
    position: fixed;
    top: 0;
    z-index: 100;
    min-height: 480px;
    width: 100%;
    height: 100%;
    background: #363636;
    animation: splash-out 0.25s linear;
    -webkit-animation: splash-out 0.25s linear;
    -moz-animation: splash-out 0.25s linear;
    animation-fill-mode: forwards;
}
[ng-cloak].splash {
    text-align: center;
    position:fixed;left:0;bottom:0;background-color:#363636;width:100vw;height:100vh;z-index: 999;
    display: block !important;
}
.logo,
.splash-loader {
	position: absolute;
	left: 0;
	width: 100%;
	/* opacity: 0; */
	cursor: default;
	pointer-events: none;
}
.logo {
	top: 0;
	height: 100%;
	transform: translate3d(0,0%,0);
}
.splash-loader {
    bottom: 20%;
}
.splash .ip-inner {
	display: block;
	margin: 0 auto;
}
.splash .logo svg {
	min-width: 320px;
	max-width: 480px;
	width: 25%;
}
.splash .logo svg path {
	fill: #ef6e7e;
}
.splash .splash-loader svg path {
	fill: none;
	stroke-width: 6;
}
.splash .splash-loader svg path.ip-loader-circlebg {
	stroke: #ddd;
}
.splash .splash-loader svg path.ip-loader-circle {
	transition: stroke-dashoffset 0.2s;
	stroke: #ef6e7e;
}

.spinner:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    border-radius: 50%;
    border-top: 3px solid coral;
    border-right: 3px solid transparent;
    border-top-color: #ef6e7e;
    animation: spinner 0.7s linear infinite;
    animation: spinAround .5s infinite linear;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

/* SPLASH SCREEN ENDS */

.cute-jump{
    animation: jump .5s ease-out;
    -webkit-animation: jump .5s ease-out;
    -moz-animation: jump .5s ease-out;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

.scroll-container{
    /* box-shadow: 0 0 0.5cm rgba(0,0,0,0.5); */
    display: block;
    float: left;
    width: 100%;
    height: auto;
    max-height: 80vh;
        margin-top: -1px;
    /* background-color: darkcyan; */
    /* max-height: 830px !important; */
    overflow-y: auto;
}
.scroll-container input{
    margin-top: 10px;
}
.item-tool-box-is-visible{
    /* animation: apear .3s ease-out;
    -webkit-animation: apear .3s ease-out;
    -moz-animation: apear .3s ease-out; */
}
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    /* opacity: 0.7; */
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #db7093;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #db7093;
    cursor: pointer;
}

.input{
    /* font-size: var(--font-size-s); */
    /* margin-top: .5em; */
}
.icon{
    vertical-align: middle;
}
.label span{
    vertical-align: middle;
}
.cols{
    user-select: none;
    display: block;
    width: 100%;
    height: auto;
    position: relative;
}
.column-blur{
    
    /* background-image: url('images/photo.jpg'); */
    /* background-image: linear-gradient(to top right, #D183FE, #0AEDE1); */
    /* background-image: linear-gradient(140deg, #00C4CC 25%, #6E44BD); */
    /* background: linear-gradient(140deg, rgba(0,176,255,1) 9%, rgba(0,196,188,1) 44%, rgba(110,68,189,1) 100%); */
    
    /* -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(30px); */
    
    position: fixed;
    bottom: 0px;
    min-height: 100%;
    /* width: var(--column-left-width); */
    /* max-width: var(--column-left-max-width); */
    width: 100vw;
    z-index:-999;
    min-width: var(--column-left-min-width);
    background-size: cover;
}
.column-c{
    display: block;
    width: var(--column-left-width);
    min-width: var(--column-left-min-width);
    max-width: var(--column-left-max-width);
    /* min-height: 100%; */
    float: left;
    padding: 15px;
    padding-top: 0px;
    /* background-color: #355b7b; */
    color: aliceblue;
    z-index: 1;
}
/* Accordion for column tools------------------ */
.accordion-button{
    display: block;
    width: 100%;
    height: 53px;
    float: left;
    cursor: pointer;
    /* background-color: #483d8b; */
    /* background-color: var(--accordion-item); */
    background-color: var(--secondary-color);
    /* color: var(--accordion-item-text); */
    color: var(--secondary-t-color);
    font-weight: bold;
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: start;
    /* box-shadow: 0px 10px 20px -7px black; */
    /* box-shadow: -3px -1px 30px -2px black; */
    z-index: 1;
}
.last-accordion-btn {
    /* border-bottom: 1px solid #ff6d9d33; */
    border-bottom: 1px solid #293133;
}
.accordion-button span {
    /* color: palevioletred; */
    /* color: var(--accordion-item-text); */
}
.accordion-button-shadow{
    /* box-shadow: 0px 10px 20px -7px black; */
    box-shadow: 0 5px 5px 0px #0000008a;
}
.accordion-button-selected.accordion-button::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 5%;
    border-width: 10px;
    border-style: solid;
    border-color: var(--secondary-color) transparent transparent transparent;
}
.accordion-button-text{
    width: 90%;
    font-size: var(--font-size-m);
}
.accordion-button-title{
    margin-left: 10px;
}
.accordion-content{
    display: block;
    width: 100%;
    height: auto;
    max-height: 82%;
    float: left;
    overflow: hidden;
    overflow-y: auto;
    /* background-color: #454545; */
    background-color: var(--forth-color);
    box-shadow: var(--iner-shadow);
    animation: slide-down .2s linear;
    -webkit-animation: slide-down .2s linear;
    -moz-animation: slide-down .2s linear;
}
.accordion-content:nth-of-type(2){
    overflow-y: overlay;
}
.accordion-content:nth-of-type(2)::before, .accordion-content:nth-of-type(2)::after{
    content: " ";
    display: block;
    height: 3px;
}
.accordion-content label{
    color: #d9d9d9;
}
.accordion-content input, 
.toolbox-form-wrapper-content input{
    /* background-color: #605f69; */
    background-color: var(--inpus-color);
    border-color: #605f6900;
    color: #f5f5f5;
}
.accordion-content select, 
.toolbox-form-wrapper-content select{
    /* background-color: #605f69; */
    background-color: var(--inpus-color);
    border-color: #605f6900 !important;
    color: #f5f5f5;
}
.select{
    margin-top: 10px;
}
.select:not(.is-multiple)::after{
    border: 1px solid #f5f5f5 !important;
    border-right: 0px solid #ad1515 !important;
    border-top: 0px solid #942222 !important;
    content: " ";
    display: block;
    height: .5em;
    pointer-events: none;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: center;
    transform-origin: center;
    width: .5em;
    margin-top: -.375em;
    right: 1.125em;
    top: 50%;
    z-index: 4;
}
.accordion-content .button.is-static{
    /* background-color: #605f69; */
    background-color: var(--inpus-color);
    border: 0;
    border-left: 1px solid #36363642;
    color: #f5f5f5;
}
.accordion-content .item-toolbox{
    width: auto;
    min-width: initial;
    display: block;
}
.accordion-content .item-toolbox .card{
    border-radius: 0px;
    border: solid 0px #454545;
}
.accordion-content  .toolbox-form-wrapper-header{
    /* background-color: #766ea8; */
    /* background-color: #575274; */
    /* background-color: var(--accordion-sub-item); */
    background-color: var(--third-color);
    /* color: aliceblue; */
    color: var(--secondary-t-color);
    padding-left: 5%;
    padding-right: 3%;
    height: 53px;
}
.accordion-content .toolbox-form-wrapper-header-selected::after{
    border-color: var(--third-color) transparent transparent transparent;
}
.accordion-content .item-toolbox .card-header{
    display: none;
}
.accordion-content .item-toolbox .card .field{
    margin-bottom: .75rem;
    width: auto;
    height: auto;
    float: none;
    padding: unset;
}
.accordion-content .item-toolbox .card .field label{
    width: auto;
    float: none;
}
.accordion-content .item-toolbox .card .field .control{
    width: auto;
    float: none;
}
/* .accordion-content::before{
    content: '';
    display: block;
    height: 15px;
}
.accordion-content::after{
    content: '';
    display: block;
    height: 15px;
} */
/* End of Accordion for column tools----------- */
.column-tools{
    user-select: none;
    display: block;
    width: var(--column-left-width);
    min-width: var(--column-left-min-width);
    max-width: var(--column-left-max-width);
    min-height: 100%;
    height: 150vh;
    float: left;
    position: fixed;
    left: 0;
    /* background-color: steelblue;
    background-color: #355b7b;
    background-color: #363636;
    background-color: #363636de;
    background-color: #291873b8; */
    /* background-color: #5e4bd6; */
    background-color: var(--primary-color);
    /* background-color: #5e4bd6c7; */
    /* mix-blend-mode: overlay; */
    z-index: 1;
    box-shadow: 0px 0px 20px 0px #00000078;
}
.column-tools-title{
    /* background-color: #363636; */
    /* background-color: #483d8b; */
    background-color: var(--primary-color);
    display:block;
    width: 100%;
    height: 60px;
    float: left;
    /* border-bottom: 1px solid #ff6d9d33; */
    border-bottom: 1px solid #293133;
    font-size: var(--font-size-g);
    color: var(--secondary-t-color);
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 12px;
}
.column-tools-content{
    display:block;
    width: 100%;
    /* height: 80vh; */
    height: 100vh;
    float: left;
    overflow: hidden;
}
.column-tools .field{
    /* margin-bottom: 0%;
    display: block;
    width: 100%;
    height: auto;
    float: left; */
    /* border-bottom: solid 1px;
    border-color: #008b8b96; */
    /* padding-top: 3%;
    padding-bottom: 3%;
    padding-left: 5%;
    padding-right: 5%; */

    /* display:flex;
    align-items: center;
    justify-content: center; */
}
/* .column-tools .general-tools .field{
    display:flex;
    align-items: center;
    justify-content: center;
} */
.column-tools .field.has-addons:last-child{
    border-bottom: none;
    font-weight: normal;
}
.column-tools .label{
    /* color: aliceblue;
    color: lightsteelblue;
    color: aquamarine;
    color: mediumaquamarine;
    color: #00d1b2; */
    /* color: #d9d9d9; */
    /* font-size: 80%; */
    /* font-size: var(--font-size-s); */
    /* width: 61%; */
    /* float: left; */
}
/* .column-tools .control{
    color: aliceblue;
    width: 39%;
    float: left;
} */
.column-tools .custom-select{
    width: 100%;
}
.file-name{
    max-width: 100%;
}
input[type="color"]{
    /* display: block; */
    width: 100%;
    height: 30px;
    border-radius: 3px;
    border-style: none;
    border-width: 0px;
}
.column-a{
    display: block;
    width: 50%;
    /* min-width: 22cm; */
    min-width: 60%;
    float: left;
    padding: 15px;
    margin-top: 20px;
    /* background-color: teal; */
}
.column-b{
    display: block;
    width: 15%;
    width: var(--column-left-width);
    min-width: var(--column-left-min-width);
    max-width: var(--column-left-max-width);
    height: 100%;
    height: 500px;
    float: left;
    position: fixed;
    left: 70%;
    top: 12%;
    /* max-height: 80%; */
    /* position: fixed; */
    /* right: 18%; */
    /* top: 10%; */
    /* overflow-y: auto; */
    /* background-color: rgb(54, 146, 207); */
}
#itemToolBoxIncludeWrapper{
    /* box-shadow: 0 0 0.5cm rgba(0,0,0,0.5); */
    position: relative;
    width: 100%;
    /* background-color: yellowgreen; */
    /* min-height: 100%; */
    height: 90%;
    /* right: 10%; */
    top: 12px;
    /* top: 67px; */
    animation: apear .5s ease-out;
    -webkit-animation: apear .5s ease-out;
    -moz-animation: apear .5s ease-out;
}
.item-toolbox{
    height: 100%;
    /* background-color: beige; */
    min-width: 100%;
    /* display: inline-block; */
}
.item-toolbox .card{
    background-color: #454545;
    height: auto;
    /* max-height: 100%; */
    /* border-radius: 5px; */
    /* box-shadow: none; */
    /* border: solid 1px #454545; */
    overflow: hidden;
}
.item-toolbox .card label{
    color: #d9d9d9;
    /* font-size: 80%; */
    /* font-size: var(--font-size-s); */
}
.item-toolbox .card-header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #363636;
}
.item-toolbox .card-header p{
    color: #f5f5f5;
    /* font-weight: normal; */
}
.item-toolbox .delete{
    margin-right: 5%;
}
.item-toolbox .file-label{
    /* width: 100%;
    text-align: center; */
}
.toolbox-form-wrapper:not(:last-child){
    border-bottom: 0px solid #00c3a6;
}
/* .toolbox-form-wrapper-header::before{
    content: "";
    position: absolute;
    left: 8%;
    top:0;
    height: 100%;
    border-left: 1px solid palevioletred;
} */
/* .toolbox-form-wrapper-header::after{
    content: "";
    position: absolute;
    left: 8%;
    bottom: 53%;
    height: 100%;
    width: 6%;
    border-bottom: 1px solid palevioletred;
} */
.toolbox-form-wrapper-header{
    /* background-color: gainsboro; */
    /* background-color: #00d1b2; */
    background-color: var(--accordion-item);
    color: var(--accordion-item-text);
    /* box-shadow: 0px -5px 10px 0px #333333; */
    position: relative;
    padding: 4%;
    cursor: pointer;
        margin-top: -1px;
    display: block;
    width: 100%;
    height: 53px;
    float: left;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.toolbox-form-wrapper-header-selected{
    border-left: none;
    /* box-shadow: -3px 5px 10px 0px #333333; */
}
.toolbox-form-wrapper-header-selected::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 5%;
    border-width: 10px;
    border-style: solid;
    /* border-color: #00d1b2 transparent transparent transparent; */
    border-color: var(--accordion-item) transparent transparent transparent;
}
.form-wrapper-header-text{
    width: 90%;
    float: left;
    font-weight: bold;
    font-size: var(--font-size-m);
}
.form-wrapper-header-text p{
    margin-left: 10px;
}
.form-wrapper-header-icon{
    /* width: 0%; */
}
.pre-icon{
    width: 5%;
    min-width: 25px;
    display: block;
    float: left;
}
.toolbox-form-wrapper-content .pre-icon {
    color: #d9d9d9;
}
.toolbox-form-wrapper-content{
    animation: slide-down .2s ease-in;
    -webkit-animation: slide-down .2s ease-in;
    -moz-animation: slide-down .2s ease-in;
    /* box-shadow: inset 0px 15px 8px -10px #333333, inset 0px -15px 8px -10px #333333; */
    /* box-shadow: var(--iner-shadow); */
    padding-left: 5%;
    padding-right: 5%;
    /* background-color: #454545; */
    background-color: var(--forth-color);
    color: #ae9e9f;
    overflow: hidden;
}
.input-label{
    width: 80%;
    display: block;
    float: left;
    margin-left: 5px;
    margin-top: 3px;
}
.grid-options .input-label{
    margin-top: 0px;
}
/* #itemToolBoxIncludeWrapper .item-toolbox .card:last-child .toolbox-form-wrapper:last-child .toolbox-form-wrapper-content{
    box-shadow: inset 0px 20px 20px -20px #000000;
} */
.scroll-container-item:not(:last-child) .toolbox-form-wrapper-content {
    /* width: 200px;
    background-color: red !important; */
    box-shadow: var(--iner-shadow);
}
.scroll-container-item:last-child .toolbox-form-wrapper-content {
    /* width: 200px;
    background-color: red !important; */
    box-shadow: var(--iner-shadow-last);
}
.column-tools .column-tools-content form .accordion-content:last-child .item-toolbox .card .toolbox-form-wrapper:last-child .toolbox-form-wrapper-content{
    box-shadow: inset 0px 20px 20px -20px #000000;
}
.toolbox-form-wrapper-content::before{
    content: '';
    display: block;
    height: 20px;
}
.toolbox-form-wrapper-content::after{
    content: '';
    display: block;
    height: 20px;
}
.toolbox-form-wrapper-content label{
    color: #d9d9d9;
}
.page{
    background: #fff;
    width: 21cm;
    height: 29.7cm;
    margin: 0 auto;
    padding: 1cm;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
    /* box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22); */
    overflow: hidden;
    /* float: right; */
    font-family: myFont, 'sans-serif';
}
/* #tools .card, #elementTools .card{
    position: fixed;
} */
.card{
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
.grid-wrapper{
    display: grid;
    /* grid-auto-rows: var(--item-size);
    grid-template-columns: repeat(auto-fill, var(--item-size)); */
    grid-auto-rows: var(--item-height);
    grid-template-columns: repeat(auto-fill, var(--item-width));
    grid-auto-flow: row;
    /* grid-gap: 3em 3em; */
    /* grid-row-gap: 1em; */
    grid-row-gap: var(--row-gap);
    grid-column-gap: var(--row-gap);
    /* justify-content: space-evenly; */
    justify-content: center;
    /* justify-content: space-between; */
    max-width: 20cm;
    max-height: 28.7cm;
    /* overflow: hidden; */
    /* margin: auto; */
}
.modal-grid{
    display: grid;
    grid-auto-rows: 200px;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-auto-flow: row;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    justify-content: space-evenly;
    max-width: 20cm;
    max-height: 28.7cm;
    margin: auto;
}
.item{
    border-style: solid;
    border-color: var(--border-color);
    border-width: var(--border-width);
    border-radius: 0px;
    padding: 0px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #00d1b2;
    pointer-events: none;
    cursor: pointer;
}
.overlay .text{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    font-size: 3vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.show-overlay {
    opacity: 0.9;
}
.hide-overlay{
    opacity: 0;
}
.item img{
    margin: auto;
    text-align: center;
}
.text-box{
    position: relative;
    border-top-style: solid;
    border-top-color: var(--border-color);
    border-top-width: var(--border-width);
    width: 100%;
    height: calc(100% - var(--image-wrapper-size));
    text-align: center;
    /* line-height: 45px; */
    line-height: 10%;
    padding: 5px;
    font-size: var(--font-size);
    display:flex;
    align-items: center;
    justify-content: center;
}
.text-box span{
    max-height: 100%;
    max-width: 100%;
}
.text-box textarea{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    /* font-family: myFont; */
    /* font-size: 40px; */
    font-size: var(--font-size);
    text-align: center;border: 0px;
    resize: none;
    line-height: 95%;
    overflow: hidden;
}
.modal-grid .text-box{
    border-top-style: solid;
    border-top-color: var(--border-color);
    border-top-width: var(--border-width);
    width: 100%;
    height: 20%;
    text-align: center;
    padding: 5px;
    font-size: 1em;
    display:flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
}
.imageWrapper{
    position: relative;
    display: block;
    width: 100%;
    height: var(--image-wrapper-size);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imageWrapper img{
    width:100%;
    height:100%;
    object-fit:var(--object-fit);
}
.imageWrapper input{
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    height:100%;
    /* opacity:0; */
    cursor: pointer;
}
/* .myInput{
    pointer-events: none;
    opacity:0;
    transition: opacity 0.5s;
    transition-timing-function: ease;
    position: absolute;
    top: 10px;
    right: 10px;
} */
/* .showInput{
    pointer-events: initial;
    opacity:1;
    transition: opacity 0.5s;
    transition-timing-function: ease;
} */
.selected{
    box-shadow: 0px 0px 50px 10px lightcoral;
    /* box-shadow: 0px 0px 0px 8px lightcoral, 3px 3px 10px 10px grey; */
    /* box-shadow: 0 0 0.5cm rgba(0,0,0,0.9); */
    transition: box-shadow 0.5s;
    transition-timing-function: ease;
}
.showBlock{
    display: block;
}
.hideBlock{
    display: none;
    box-shadow: 0 0 10px 10px red;
}



/* template 2 */
.template2.imageWrapper{
    position: relative;
    width: 100%;
    height: 100%;
    /* overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center; */
    background-image: url('images/YellowFlower_39.png');
    background-repeat: round;
    background-position: center;
    background-size: 20%;
}
.template2 .imageWrapper img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.template2 .boxContainer{
    background-color: darkslateblue;
    position: absolute;
    /* display: flex; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    height: 80%;
    border-radius: 5%;
}
.template2 .boxContainer img{
    width: 70%;
    height: auto;
    position: absolute;
    transform: rotate(30deg);
    right: 24%;
}
.template2 .boxContainer canvas{
    width: 70%;
    height: auto;
    position: absolute;
    transform: rotate(30deg);
    right: 24%;
}
.template2 .boxContainer span{
    width: 100%;
    height: 100%;
    position: absolute;
    left: var(--t2TextPosX);
    bottom: var(--t2TextPosY);
    text-align: center;
    word-break: break-word;
    white-space: pre-wrap;
    font-size: var(--font-size);
    line-height: 50px;
    color: deeppink;
    display:flex;
    align-items: center; /* Vertical center alignment */
    justify-content: center; /* Horizontal center alignment */
}

/* end template 2 */

.draggable-item{
    /* border: 1px solid #7b68ee; */
    border-radius: 3px;
    overflow: hidden;
    max-width: 100px;
    max-height: 100px;
    margin: auto;
    margin-bottom: 50px;
}
.draggable-item:last-child{
    margin-bottom: 0px;
}
.svg-grid {
    z-index: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.svg-text {
    /* font-weight: 500; */
    font-size: 1rem;
    /* text-anchor: start; */
    /* alignment-baseline: middle; */
    fill: #00ffb3e6;
}
.svg-lines {
    stroke: #ff7878;
    stroke-width: 10px;
    cursor: row-resize;
    pointer-events: all;
}
.svg-lines:hover {
    stroke-width: 40px;
}
.svg-grid-lines {
    stroke: #ff7878;
    stroke-width: 1px;
}

.my-text{
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    word-break: break-word;
    text-align: center;
    color: deeppink;
    font-size: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#text{
    position: initial;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    word-break: initial;
    text-align: center;
    color: inherit;
    font-size: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-grid .boxContainer{
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 80%;
    height: 80%;
    background-color: white;
    border-radius: 20px;
}
.modal-grid .boxContainer img{
    width: 70%;
    height: auto;
    position: absolute;
    transform: rotate(30deg);
    right: 24%;
}
.modal-grid .boxContainer span{
    position: absolute;
    bottom: 4%;
    right: 4%;
    font-size: 1em;
    color: deeppink;
}

.modal-grid{
    display: grid;
}
.modal-item-selected{
    box-shadow: 
    0px 0px 1px 10px #23d160;
}

#modalCreateTemplateDragZone{
    height: auto;
    padding-top: 24px;
}

#modalCreateTemplate .modal-content {
    width: 100%;
    height: 100%;
    max-width: unset;
    max-height: unset;
    overflow: hidden;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    /* background-color: #2f3238; */
    /* background-color: #2a3137; */
    background-color: #5C6576;
}
#modalCreateTemplate .columns-grid-wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 8fr 1fr 2fr;
    grid-template-areas: 
    ". . . d d d d d d . e e" 
    ". . . . . . . . . . . ."
    "t t t t t t t t t t t t";
    grid-gap: 0px;
    user-select: none;
}
#modalCreateTemplate .grid-item {
    background-color: transparent;
    color: salmon;
    /* border: 1px solid #00000026; */
    /* font-size: 3em !important; */
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#modalCreateTemplate .grid-drop-col {
    grid-area: d;
    height: 100%;
}
#modalCreateTemplate .grid-tools-col {
    grid-area: t;
    display: block;
    float: left;
    width: 20%;
    border: 0px solid salmon;
    margin-right: 5%;
    margin-left: 0%;
    padding: 0%;
    background-color: #363636;
    border-radius: 5px;
    /* height: 100%; */
    overflow: hidden;
    box-shadow: 0px 3px 20px 0px #00000029;
}
#modalCreateTemplate .grid-tools-col .column-header {
    /* background-color: #cc6055; */
    /* background-color: var(--secondary-color); */
    /* background-color: #00d1b2; */
    background-color: mediumslateblue;
    font-weight: 900; 
    color: #363636;
    /* color: var(--secondary-t-color); */
    margin-bottom: 0%;
    text-align: center;
    padding: 3%;
}
#modalCreateTemplate .grid-elements-col {
    display: block;
    float: left; 
    width: 20%; 
    border: 0px solid salmon;
    margin-left: 5%; 
    padding: 0%;
    background-color: #363636;
    border-radius: 5px; 
    overflow: hidden; 
    box-shadow: 0px 3px 20px 0px #00000029;
}
#modalCreateTemplate .grid-elements-col .column-header {
    /* background-color: #cc6055; */
    /* background-color: var(--secondary-color); */
    background-color: mediumslateblue;
    font-weight: 900; 
    color: #363636;
    /* color: var(--secondary-t-color); */
    margin-bottom: 25%;
    text-align: center;
    padding: 3%;
}
#modalCreateTemplate .grid-elements-col {
    grid-area: e;
}
#modalCreateTemplate .grid-elements-wrapper {
    /* width: 100%; IMPORTANT TO FILL AUTOMATIC*/
    /* display: grid; */
    /* grid-gap: 3px; */
    /* grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
    /* grid-template-columns: repeat(auto-fill, 130px); */
    /* grid-template-rows: repeat(2,130px); */
    /* grid-auto-rows: 130px; */
    /* grid-auto-flow: column; */
    /* justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center; */
    /* border: dashed 5px palevioletred;
    padding: 20px;
    width: 70%;
    margin: auto;
    border-radius: 5px; */
}
#modalCreateTemplate .grid-tools-col .field {
    margin-bottom: .75rem;
}
#modalCreateTemplate .grid-tools-col .field:not(:last-child) {
    /* margin-right: .75rem; */
}
#modalCreateTemplate .drop-zone {
    background-color: #454545;
    width: 100%;
    /* height: 80%; */
    /* max-width: 550px;
    max-height: 550px;
    min-width: 200px;
    min-height: 200px; */
}
#modalCreateTemplate .drop-zone-grid {
    /* background-color: #454545; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-gap: 0px;
}
#modalCreateTemplate .drop-zone-grid-item {
    position: relative;
    background-color: #363636;
    color: #76737C;
    /* border: 1px solid #ff7878; */
    border: 1px solid var(--html-color);
    font-size: var(--drop-zone-grid-item-font-size);
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    transition: all 0.5s cubic-bezier(0.6,0,0.4,1);
}
#modalCreateTemplate .drop-zone-grid-item > p{
    pointer-events: none;
    user-select: none;
}
#modalCreateTemplate input{
    border: 0px solid red;
    background-color: #5d5f62;
    color: #fff;
}
.resize-cursor{
    cursor: se-resize;
}
.section{
    float: left;
    width: 100%;
    clear: both;
}
.container{
    display: flex;
    width: 100%;
}
.content{
    margin: auto;
}

.notification-wrapper{
    position: fixed;
    z-index: 1000;
    bottom: 3%;
    width: 100%;
}
.notification{
    width: 50%;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.5);
    user-select: none;
    border-radius: 5px;
    /* background-color: darkslateblue; */
    background-color: #00d1b2 !important;
    color: #185149 !important;
    text-align: center;
    font-weight: 900;
    border-left: 8px solid #185149;
}
.notification .icon{
    position: absolute;
    left: 10px;
    top: 16px;
}
.notification .delete:after, .notification .delete:before {
    background-color: #40e0d0 !important;
}
.notification-anim.show{
    animation: notification-show 0.25s ease-out;
    /* transition: all 0.5s cubic-bezier(0.6,0,0.4,1); */
    animation-fill-mode: forwards;
}
.notification-anim.hide{
    animation: notification-show 0.25s ease-out;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}

.modal{
    display: flex;
    visibility: hidden;
    transition: all 0.5s cubic-bezier(0.6,0,0.4,1);
    transform: translateY(-200%);
    z-index: 999;
    user-select: none;
    /* animation-fill-mode: forwards;
    animation: modal-hide .5s ease-out;
    -webkit-animation: modal-hide .5s ease-out;
    -moz-animation: modal-hide .5s ease-out; */
}
.modal.is-active{
    visibility: visible!important;
    transition: all 0.5s cubic-bezier(0.6,0,0.4,1);
    transform: translateY(0%);
    /* animation-fill-mode: forwards;
    animation: modal-is-active .5s ease-out;
    -webkit-animation: modal-is-active .5s ease-out;
    -moz-animation: modal-is-active .5s ease-out; */
}

/* @media screen and (max-width: 1666px) {
    .column-a {
        transform: scale(0.8);
        width: 44%;
        height: 80vh;
        transform-origin: top left;
        transform-style: flat;
    }
} */
/* @media screen and (max-width: 1515px) {
    .column-a {
        transform: scale(0.5);
        width: 33%;
        height: 80vh;
        transform-origin: top left;
        transform-style: flat;
    }
} */
@media screen and (min-width: 1421px) and (max-width: 1920px) {
    .column-a {
        transform: scale(0.7);
        width: 54%;
        min-width: unset;
        height: 80vh;
        transform-origin: top center;
        transform-style: flat;
    }
    .column-tools {
        transform: scale(1);
        transform-origin: top left;
        transform-style: flat;
    }
    .accordion-content{
        max-height: 78vh;
    }
    /* .column-blur {
        transform: scale(0.9);
        transform-origin: top center;
        transform-style: flat;
    } */
    .column-b {
        transform: scale(1);
        transform-origin: top center;
        transform-style: flat;
    }
}
@media screen and (min-width: 1245px) and (max-width: 1420px) {
    .column-a {
        /* transform: scale(0.8); */
        transform: scale(0.5);
        width: 54%;
        min-width: unset;
        height: 80vh;
        transform-origin: top center;
        transform-style: flat;
    }
    .column-tools {
        transform: scale(0.9);
        transform-origin: top left;
        transform-style: flat;
    }
    .accordion-content{
        max-height: 78vh;
    }
    .column-blur {
        /* transform: scale(0.9);
        transform-origin: top center;
        transform-style: flat; */
    }
    .column-b {
        transform: scale(0.9);
        transform-origin: top center;
        transform-style: flat;
    }
}
@media screen and (min-width: 1130px) and (max-width: 1245px) {
    .column-a {
        transform: scale(0.5);
        width: 50%;
        min-width: unset;
        height: 80vh;
        transform-origin: top center;
        transform-style: flat;
    }
    .column-tools {
        transform: scale(0.9);
        transform-origin: top left;
        transform-style: flat;
    }
    .accordion-content{
        max-height: 78vh;
    }
    .column-blur {
        /* transform: scale(0.9);
        transform-origin: top center;
        transform-style: flat; */
    }
    .column-b {
        transform: scale(0.9);
        transform-origin: top center;
        transform-style: flat;
    }
    .column-c {
        min-width: unset;
    }
}
@media screen and (min-width: 1100px) and (max-width: 1130px) {
    .column-a {
        transform: scale(0.5);
        width: 50%;
        min-width: unset;
        height: 80vh;
        transform-origin: top center;
        transform-style: flat;
    }
    .column-tools {
        transform: scale(0.9);
        transform-origin: top left;
        transform-style: flat;
    }
    .accordion-content{
        max-height: 78vh;
    }
    .column-blur {
        /* transform: scale(0.9);
        transform-origin: top center;
        transform-style: flat; */
    }
    .column-b {
        transform: scale(0.9);
        transform-origin: top center;
        transform-style: flat;
    }
    .column-c {
        min-width: unset;
        width: 15%;
    }
}
@media screen and (min-width: 1000px) and (max-width: 1100px) {
    .column-a {
        transform: scale(0.5);
        width: 56%;
        min-width: unset;
        height: 80vh;
        transform-origin: top center;
        transform-style: flat;
    }
    .column-tools {
        transform: scale(0.9);
        transform-origin: top left;
        transform-style: flat;
    }
    .accordion-content{
        max-height: 78vh;
    }
    .column-blur {
        /* transform: scale(0.9);
        transform-origin: top center;
        transform-style: flat; */
    }
    .column-b {
        transform: scale(0.9);
        transform-origin: top center;
        transform-style: flat;
    }
    .column-c {
        min-width: unset;
        width: 13%;
    }
}
@media screen and (min-width: 888px) and (max-width: 1000px) {
    .column-a {
        transform: scale(0.4);
        width: 50%;
        min-width: unset;
        height: 80vh;
        transform-origin: top center;
        transform-style: flat;
    }
    .column-tools {
        transform: scale(0.8);
        transform-origin: top left;
        transform-style: flat;
    }
    .accordion-content{
        max-height: 78vh;
    }
    .column-blur {
        /* transform: scale(0.9);
        transform-origin: top center;
        transform-style: flat; */
    }
    .column-b {
        transform: scale(0.8);
        transform-origin: top center;
        transform-style: flat;
    }
    .column-c {
        min-width: unset;
        width: 13%;
    }
}
@media screen and (min-width: 700px) and (max-width: 888px) {
    .column-a {
        transform: scale(0.3);
        width: 49%;
        min-width: unset;
        height: 80vh;
        transform-origin: top center;
        transform-style: flat;
    }
    .column-tools {
        transform: scale(0.6);
        transform-origin: top left;
        transform-style: flat;
    }
    .accordion-content{
        max-height: 78vh;
    }
    .column-blur {
        /* transform: scale(0.9);
        transform-origin: top center;
        transform-style: flat; */
    }
    .column-b {
        transform: scale(0.6);
        transform-origin: top center;
        transform-style: flat;
    }
    .column-c {
        min-width: unset;
        width: 10%;
    }
}
@media screen and (min-width: 500px) and (max-width: 700px) {
    .column-a {
        transform: scale(0.2);
        width: 45%;
        min-width: unset;
        height: 78vh;
        transform-origin: top center;
        transform-style: flat;
    }
    .column-tools {
        transform: scale(0.6);
        transform-origin: top left;
        transform-style: flat;
    }
    .accordion-content{
        max-height: 78vh;
    }
    .column-blur {
        /* transform: scale(0.9);
        transform-origin: top center;
        transform-style: flat; */
    }
    .column-b {
        transform: scale(0.6);
        transform-origin: top center;
        transform-style: flat;
        height: 80vh;
    }
    #itemToolBoxIncludeWrapper{
        top: 0px;
    }
    .scroll-container{
        max-height: 120vh;
    }
    .toolbox-form-wrapper-content{
        max-height: 227vh !important;
    }
    .column-c {
        min-width: unset;
        width: 10%;
    }
    .column-tools-content{
        height: 120vh;
    }
}

/* SMARTPHONE start */
@media screen and (max-width: 500px) {
    #modalCreateTemplate .modal-content{
        margin: 0 !important;
    }
    #modalCreateTemplate .section:first-of-type{
        padding-top: 20px;
        padding-bottom: 0px !important;
    }
    #modalCreateTemplate .section:first-of-type h1{
        font-size: 1.5em;
    }
    #modalCreateTemplate .section:first-of-type p{
        font-size: 0.8em;
    }
    #modalCreateTemplate .grid-tools-col{
        width: 100% !important;
        margin-right: 0;
        margin-bottom: 3%;
    }
    #modalCreateTemplate .grid-drop-col{
        width: 100% !important;
        margin-right: 0;
        margin-top: 0;
    }
    #modalCreateTemplate .grid-elements-col{
        width: 100% !important;
        margin-left: 0;
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        border-radius: 0px;
        background-color: darkslateblue;
    }
    #modalCreateTemplate .grid-elements-col .grid-elements-wrapper{
        width: 100%;
        display: flex;
    }
    #modalCreateTemplate .grid-elements-col .draggable-item{
        display: block;
        width: 25%;
        margin: auto;
        padding: 3%;
        float: left;
    }
    #modalCreateTemplate #modalCreateTemplateDragZone{
        padding-top: 10px;
    }
    #modalCreateTemplate #modalCreateTemplateDragZone .container{
        display: block;
    }
    #modalCreateTemplate .column-header{
        display: none;
    }
    #modalCreateTemplate .column-content{
        padding: 3% !important;
    }
    #modalCreateTemplate .column-content .field{
        max-width: 50% !important;
        display: block;
        float: left;
        padding-left: 5%;
        padding-right: 5%;
    }
    #modalCreateTemplate .column-content .field:nth-of-type(3), 
    #modalCreateTemplate .column-content .field:nth-of-type(3){
        margin-top: 0 !important;
    }
}
/* SMARTPHONE end */

@media screen and (max-width: 1024px){
   .navbar-menu {
        background-color: unset;
   }
}
@media screen and (min-width: 750px) and (max-width: 1023px){
    .navbar-burger {
        display: none !important;
    }
    .navbar-menu {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        -ms-flex-negative: 0;
        flex-shrink: 0;
        /* background-color: #fff; */
        -webkit-box-shadow: unset;
        box-shadow: unset;
        padding: unset;
    }
    .navbar, .navbar-end, .navbar-menu, .navbar-start {
        -webkit-box-align: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .navbar-end {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        margin-left: auto;
    }
    .navbar.is-fixed-top .navbar-menu, .navbar.is-fixed-top-touch .navbar-menu {
        -webkit-overflow-scrolling: touch;
        max-height: calc(100vh - 3.25rem);
        overflow: hidden !important;
    }
}

@page {
    size: A4;
    margin: 0;
}
@media print {
    * {
    -webkit-transition: none !important;
    transition: none !important;
  }
    html{
        background: #fff !important;
        margin: 0px;
        padding: 0px !important;
    }
    body {
        background: #fff !important;
        margin: 0px;
        padding: 0px;
    }
    .column-a{
        padding: 0px;
        margin-left: 0%;
        margin: 0;
    }
    .page {
        background: #fff !important;
        margin: 0px;
        float: initial;
        box-shadow: none;
        -webkit-print-color-adjust: exact;
    }
    .navbar{
        position: initial;
    }
    div[item]{
        box-shadow: none;
    }
    #tools, #header, #scrollUpBtn{
        display: none !important;
    }
    .dont-print-me{
        display: none;
    }
}