<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
    <title>Materialator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="materialator.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link href="materialator.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  </head>

  <body ng-app="app" ng-controller="MyController">
  <!-- <body ng-app="app" ng-controller="MyController" ng-strict-di> -->

    <div class="splash" ng-cloak="">
      <h1 class="logo">
        <svg class="ip-inner" width="100%" height="100%" viewBox="0 0 256 512" preserveAspectRatio="xMidYMin meet" aria-labelledby="logo_title">
          <title id="logo_title">title</title>
          <path xmlns="http://www.w3.org/2000/svg" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"
          />
        </svg>
      </h1>
      <div class="splash-loader spinner">
        <!-- <svg class="ip-inner" width="60px" height="60px" viewBox="0 0 80 80">
          <path class="ip-loader-circlebg" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"
          />
          <path id="ip-loader-circle" class="ip-loader-circle" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"
          />
        </svg> -->
      </div>
    </div>

    <scroll-up-btn></scroll-up-btn>

    <section>
      <nav class="navbar is-fixed-top is-primary dont-print-me" role="navigation" aria-label="main navigation">

        <div class="navbar-brand">
          <span class="navbar-item">
            <p class="title" id="logo">
              Materialator >
            </p>
          </span>

          <a role="button" class="navbar-burger" ng-class="{'is-active': burger}" aria-label="menu" aria-expanded="false"
           ng-init="burger=false;" ng-click="burger=!burger">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>

        </div>
        
        <div class="navbar-menu" ng-class="{'is-active': burger}">
          
          <div class="navbar-end">
            <div class="navbar-item">

              <div class="field is-grouped is-grouped-multiline">
                <p class="control">
                  <button class="button is-light is-outlined is-inverted" ng-click="createTemplate()">
                    <span class="icon is-small">
                      <i class="fas fa-edit"></i>
                    </span>
                    <span>Create template</span>
                  </button>
                </p>
                <p class="control">
                  <button class="button is-light is-outlined is-inverted" ng-click="changeTemplate()" type="file" id="changeTemplate">
                    <span class="icon is-small">
                      <i class="fas fa-copy"></i>
                    </span>
                    <span>Change template</span>
                  </button>
                </p>
                
                <p class="control">
                  <button class="button is-light is-outlined is-inverted" ng-click="print()">
                    <span class="icon is-small">
                      <i class="fas fa-print"></i>
                    </span>
                    <span>Print</span>
                  </button>
                </p>
              </div>

            </div>
          </div>

        </div>
      </nav>
    </section>

    <section>
      <div class="cols">

        <div class="column-c dont-print-me">

          <div class="column-tools">
            <div class="column-tools-title">
              <p>Batch Tools</p>
            </div>
            
            <div class="column-tools-content">

              <!-- <form> -->

                <div class="accordion-button" ng-class="{'accordion-button-selected': show1}" ng-init="show1=true;" ng-click="show1=!show1;show2=false;show3=false">
                  <span class="icon">
                    <i class="fas fa-th-large"></i>
                  </span>
                  <div class="accordion-button-text">
                    <p class="accordion-button-title">Grid Options</p>
                  </div>
                  <div class="accordion-button-icon">
                    <span class="icon" ng-if="!show1">
                      <i class="fas fa-chevron-down"></i>
                    </span>
                    <span class="icon" ng-if="show1">
                      <i class="fas fa-minus"></i>
                    </span>
                  </div>
                </div>

                <div class="accordion-content general-tools grid-options" ng-show="show1">

                  <div style="padding: 5%;">
                    
                    <div class="field">
                      <label class="label">
                        <span class="icon">
                          <i class="fas fa-sort-numeric-down"></i>
                        </span>
                        <span>Items quantity</span>
                      </label>
                      <div class="field has-addonsNOT">
                        <p class="control is-expanded">
                          <input class="input" type="number" placeholder="" ng-model="itemQuantity" ng-change="ok()" min="0" max="100">
                        </p>
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">
                        <span class="icon">
                          <i class="fas fa-arrows-alt-h"></i>
                        </span>
                         <span>Item width</span>
                      </label>
                      <div class="field has-addons">
                        <p class="control is-expanded">
                          <input class="input" type="number" placeholder="" ng-model="itemWidth" ng-change="ok()" min="0">
                        </p>
                        <p class="control">
                          <a class="button is-static">cm</a>
                        </p>
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">
                        <span class="icon">
                          <i class="fas fa-arrows-alt-v"></i>
                        </span>
                         <span>Item heigt</span>
                      </label>
                      <div class="field has-addons">
                        <p class="control is-expanded">
                          <input class="input" type="number" placeholder="" ng-model="itemHeight" ng-change="ok()" min="0">
                        </p>
                        <p class="control">
                          <a class="button is-static">cm</a>
                        </p>
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">
                        <span class="icon">
                          <i class="far fa-plus-square"></i>
                        </span>
                         <span>Grid gap</span>
                      </label>
                      <div class="field has-addons">
                        <p class="control is-expanded">
                          <input class="input" type="number" placeholder="" ng-model="rowGap" ng-change="ok()" min="0">
                        </p>
                        <p class="control">
                          <a class="button is-static">cm</a>
                        </p>
                      </div>
                    </div>

                    <div class="field">
                      <label class="label">
                        <span class="icon">
                          <i class="fas fa-expand"></i>
                        </span>
                         <span>Border width</span>
                      </label>
                      <div class="field has-addons">
                        <p class="control is-expanded">
                          <input class="input" type="number" placeholder="" ng-model="borderWidth" ng-change="ok()" min="0">
                        </p>
                        <p class="control">
                          <a class="button is-static">px</a>
                        </p>
                      </div>
                    </div>
                    
                    <div class="field">
                      <label class="label">
                        <span class="icon">
                          <i class="fas fa-paint-brush"></i>
                        </span>
                        Border color
                      </label>
                      <div class="control">
                        <input type="color" id="base" value="#ff1493" ng-model="borderColor" ng-change="ok()">
                      </div>
                    </div>
                  </div>

                </div>

                <div class="accordion-button" ng-class="{'accordion-button-shadow': show3,'accordion-button-selected': show3,'last-accordion-btn': !show3}" ng-init="show3=false;" ng-click="show3=!show3;show1=false;show2=false;">
                  <span class="icon">
                    <i class="far fa-object-group"></i>
                  </span>
                  <div class="accordion-button-text">
                    <p class="accordion-button-title">Custom Template</p>
                  </div>
                  <div class="accordion-button-icon">
                    <span class="icon" ng-if="!show3">
                      <i class="fas fa-chevron-down"></i>
                    </span>
                    <span class="icon" ng-if="show3">
                      <i class="fas fa-minus"></i>
                    </span>
                  </div>
                </div>

                <div class="accordion-content scroll-container" ng-show="show3" id="toolboxClone">

                  <!-- <template2-tool-box></template2-tool-box> -->
                  <!-- <my-image-toolbox></my-image-toolbox> -->

                </div>

              <!-- </form> -->

            </div>
          </div>

        </div>

        <div class="column-a">
          <div class="page" id="page" ng-repeat="(index,val) in pageArr track by $index" ng-init="outerIndex = $index">
            <div class="grid-wrapper">
              <div item item-select item-toolbox type='template1' html="item.template" template='template' item-number="outerIndex * itemsArr[0].length + $index + 1" class="item" id="item{{item.id}}" ng-repeat="item in itemsArr[index] track by item.id">
              </div>
            </div>
          </div>
        </div>

        <div class="column-b dont-print-me" id="elementTools">
          <div style="position: fixed;width: 280px;height: 100%;">
            <div id='itemToolBoxIncludeWrapper' class="hideBlock"></div>
          </div>
        </div>

        <div class="column-blur dont-print-me"></div>

      </div>
    </section>

    <!-- <modal-select-template></modal-select-template> -->

    <modal-create-template class="modal-create-template"></modal-create-template>

    <div class="notification-wrapper">
      <notification-dispatcher></notification-dispatcher>
    </div>

  </body>

  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script" rel="stylesheet"> -->

</html>
