<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Materialator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="materialator.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css">
    <link href="materialator.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.0.0/js/all.js"></script>
  </head>

  <body ng-app="app" ng-controller="MyController">

    <scroll-up-btn></scroll-up-btn>

    <section>
      <nav class="navbar is-fixed-top is-primary dont-print-me" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <span class="navbar-item">
            <p class="title" id="logo">
              Materialator >
            </p>
          </span>

          <div class="navbar-burger">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              <!-- Start -->
            </a>
          </div>
          
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="field is-grouped">
                <p class="control">
                  <button class="button is-dark" ng-click="createTemplate()">
                    <span class="icon is-small">
                      <i class="fas fa-edit"></i>
                    </span>
                    <span>Create template</span>
                  </button>
                </p>
                <p class="control">
                  <button class="button is-dark" ng-click="changeTemplate()">
                    <span class="icon is-small">
                      <i class="fas fa-edit"></i>
                    </span>
                    <span>Change template</span>
                  </button>
                </p>
                <p class="control">
                  <button class="button is-dark" ng-click="print()">
                    <span class="icon is-small">
                      <i class="fas fa-print"></i>
                    </span>
                    <span>Print</span>
                  </button>
                </p>
              </div>

              
              
            </div>
          </div>
        </div>
      </nav>
    </section>

    <!-- <section class="hero is-primary dont-print-me">
      <div class="hero-body">
        <p class="title">
          Materialator
        </p>
        <p class="subtitle">
          Everything you need to <strong>create material</strong>
        </p>
      </div>
    </section> -->

    <section>
      <div class="cols">

        <div class="column-c dont-print-me">

          <div class="column-tools">
            <div class="column-tools-title">
              <p>Tools</p>
            </div>
            
            <div class="column-tools-content">

              <form>

                <div class="accordion-button" ng-class="{'accordion-button-shadow': show1}" ng-init="show1=true;" ng-click="show1=!show1;show2=false;show3=false">
                  <span class="icon">
                    <i class="fas fa-th-large"></i>
                  </span>
                  <div class="accordion-button-text">
                    <p class="accordion-button-title">Grid Options</p>
                  </div>
                  <div class="accordion-button-icon">
                    <span class="icon" ng-if="!show1">
                      <i class="fas fa-plus"></i>
                    </span>
                    <span class="icon" ng-if="show1">
                      <i class="fas fa-minus"></i>
                    </span>
                  </div>
                </div>
                <div class="accordion-content general-tools" ng-show="show1">

                  <div class="field">
                    <div class="pre-icon">
                      <span class="icon">
                        <i class="fas fa-sort-numeric-down"></i>
                      </span>
                    </div>
                    <div class="input-label">
                      <label class="label">Items quantity</label>
                    </div>
                    <div class="control">
                      <input class="input" type="number" placeholder="" ng-model="itemQuantity" ng-change="ok()">
                    </div>
                  </div>

                  <!-- <div class="field">
                    <label class="label">Item size (cm)</label>
                    <div class="control">
                      <input class="input" type="number" placeholder="" ng-model="itemSize" ng-change="ok()">
                    </div>
                  </div> -->
                  <div class="field">
                    <div class="pre-icon">
                      <span class="icon">
                        <i class="fas fa-arrows-alt-h"></i>
                      </span>
                    </div>
                    <div class="input-label">
                      <label class="label">Item width</label>
                    </div>
                    <!-- <label class="label">Item width (cm)</label> -->
                    <div class="control">
                      <input class="input" type="number" placeholder="" ng-model="itemWidth" ng-change="ok()">
                    </div>
                  </div>
                  <div class="field">
                    <div class="pre-icon">
                      <span class="icon">
                        <i class="fas fa-arrows-alt-v"></i>
                      </span>
                    </div>
                    <div class="input-label">
                      <label class="label">Item heigt (cm)</label>
                    </div>
                    <!-- <label class="label">Item heigt (cm)</label> -->
                    <div class="control">
                      <input class="input" type="number" placeholder="" ng-model="itemHeight" ng-change="ok()">
                    </div>
                  </div>
                  
                  <div class="field">
                    <div class="pre-icon">
                      <span class="icon">
                        <i class="fas fa-minus"></i>
                      </span>
                    </div>
                    <div class="input-label">
                      <label class="label">Row gap (cm)</label>
                    </div>
                    <!-- <label class="label">Row gap (cm)</label> -->
                    <div class="control">
                      <input class="input" type="number" placeholder="" ng-model="rowGap" ng-change="ok()">
                    </div>
                  </div>

                  <!-- <div class="field">
                    <div class="pre-icon">
                      <span class="icon">
                        <i class="fas fa-text-height"></i>
                      </span>
                    </div>
                    <div class="input-label">
                      <label class="label">Font size (px)</label>
                    </div>
                    <div class="control">
                      <input class="input" type="number" placeholder="" ng-model="fontSize" ng-change="ok()">
                    </div>
                  </div> -->
              
                  <div class="field">
                    <div class="pre-icon">
                      <span class="icon">
                        <i class="fas fa-expand"></i>
                      </span>
                    </div>
                    <div class="input-label">
                      <label class="label">Border width (px)</label>
                    </div>
                    <!-- <label class="label">Border width (px)</label> -->
                    <div class="control">
                      <input class="input" type="number" placeholder="" ng-model="borderWidth" ng-change="ok()">
                    </div>
                  </div>
              
                  <div class="field">
                    <div class="pre-icon">
                      <span class="icon">
                        <i class="fas fa-paint-brush"></i>
                      </span>
                    </div>
                    <div class="input-label">
                      <label class="label">Border color</label>
                    </div>
                    <!-- <label class="label">Border color</label> -->
                    <div class="control">
                      <input type="color" id="base" value="#ff1493" ng-model="borderColor" ng-change="ok()">
                    </div>
                  </div>

                  <!-- <div class="field">
                    <div class="file is-info is-centered">
                      <label class="file-label">
                        <input class="file-input" type="file" name="resume" id="masterImageInput">
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="fas fa-upload"></i>
                          </span>
                          <span class="file-label">
                             Choose image
                          </span>
                        </span>
                      </label>
                    </div>
                  </div> -->

                </div>


                <!-- <div class="accordion-button" ng-class="{'accordion-button-shadow': show2}" ng-init="show2=false;" ng-click="show2=!show2;show1=false;show3=false">
                  <span class="icon">
                    <i class="fas fa-object-group"></i>
                  </span>
                  <div class="accordion-button-text">
                    <p class="accordion-button-title">Template 1 Options</p>
                  </div>
                  <div class="accordion-button-icon">
                    <span class="icon" ng-if="!show2">
                      <i class="fas fa-plus"></i>
                    </span>
                    <span class="icon" ng-if="show2">
                      <i class="fas fa-minus"></i>
                    </span>
                  </div>
                </div>
                <div class="accordion-content" ng-show="show2">

                  <template1-tool-box></template1-tool-box>

                </div> -->

                <!-- <div class="accordion-button" ng-class="{'accordion-button-shadow': show3}" ng-init="show3=false;" ng-click="show3=!show3;show1=false;show2=false;">
                  <span class="icon">
                    <i class="fas fa-object-group"></i>
                  </span>
                  <div class="accordion-button-text">
                    <p class="accordion-button-title">Template 2 Options</p>
                  </div>
                  <div class="accordion-button-icon">
                    <span class="icon" ng-if="!show3">
                      <i class="fas fa-plus"></i>
                    </span>
                    <span class="icon" ng-if="show3">
                      <i class="fas fa-minus"></i>
                    </span>
                  </div>
                </div>
                <div class="accordion-content" ng-show="show3" id="toolboxClone">

                  <template2-tool-box></template2-tool-box>

                </div> -->

                <div class="accordion-button" ng-class="{'accordion-button-shadow': show3}" ng-init="show3=false;" ng-click="show3=!show3;show1=false;show2=false;">
                  <span class="icon">
                    <i class="far fa-object-group"></i>
                  </span>
                  <div class="accordion-button-text">
                    <p class="accordion-button-title">Custom Template Options</p>
                  </div>
                  <div class="accordion-button-icon">
                    <span class="icon" ng-if="!show3">
                      <i class="fas fa-plus"></i>
                    </span>
                    <span class="icon" ng-if="show3">
                      <i class="fas fa-minus"></i>
                    </span>
                  </div>
                </div>
                <!-- <div class="accordion-content" style="overflow: auto;max-height: 830px !important;" ng-show="show3" id="toolboxClone"> -->
                <div class="accordion-content" ng-show="show3" id="toolboxClone">

                  <!-- <template2-tool-box></template2-tool-box> -->
                  <!-- <my-image-toolbox></my-image-toolbox> -->

                </div>
            

              </form>

              
            </div>
          </div>






        </div>

        <div class="column-a">

          <!-- Page -->
          <div class="page" id="page" ng-repeat="(index,val) in pageArr track by $index" ng-init="outerIndex = $index">
            <!-- Grid -->
            <div class="grid-wrapper">

              <div item item-select item-toolbox type='template1' html="item.template" template='item.template' ng-if="template==='template1'" item-number="outerIndex * itemsArr[0].length + $index + 1"
                class="item" id="item{{item.id}}" ng-repeat="item in itemsArr[index] track by item.id">
              </div>

            </div>
            <!-- End Grid -->

          </div>
          <!-- End Page -->

        </div>

        <div class="column-b dont-print-me" id="elementTools">
          <div id='itemToolBoxIncludeWrapper' class="hideBlock"></div>
        </div>

        <div class="column-blur dont-print-me"></div>

      </div>
    </section>

    <div class="modal is-activee" id="modalSelectTemplate">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Select Template</p>
          <button class="delete" aria-label="close" ng-click="closeModalbtn()"></button>
        </header>
        <section class="modal-card-body">
          
          <div class="modal-grid">

            <!-- Template 1 image & text -->
            <div class="itemm" ng-class="{'modal-item-selected': template1}" ng-click="template1 = true;template2=false;selectedTemplate('template1');">
              <div class="imageWrapper">
                <!-- <img src="https://source.unsplash.com/random" alt=""> -->
                <img src="images/med_happy-bee.png" alt="">
              </div>
              <div class="text-box">
                <span>Some text...</span>
              </div>
            </div>
            <!-- End Template 1 -->
            <!-- Template 2 image/image/text -->
            <div class="itemm" ng-class="{'modal-item-selected': template2}" ng-click="template2 = true;template1=false;selectedTemplate('template2');">
              <div class="imageWrapper" style="height:100%;">
                <img src="images/TCF-PolkaDotsPink-01.png" alt="">
                <div class="boxContainer">
                  <img src="images/valentine-bee-freebie3_WhimsyClips.png" alt="">
                  <span>Some text...</span>
                </div>
              </div>
            </div>
            <!-- End Template 2 -->
            
          </div>

        </section>
        <footer class="modal-card-foot">
          <button class="button is-success" ng-click="okModalbtn()">Ok</button>
          <button class="button" ng-click="closeModalbtn()">Cancel</button>
        </footer>
      </div>
    </div>

    <modal-create-template class="modal-create-template"></modal-create-template>

    <!-- <div class="modal is-activee" id="modalCreateTemplate">
      <div class="modal-background"></div>
      <div class="modal-content">
        <button class="modal-close is-large"></button>
        <section>
          
          <div class="columns-grid-wrapper">
            
            <div class="grid-item">col left</div>
            <div class="grid-item">col right</div>

          </div>

        </section>
      </div>
    </div> -->

  </body>

  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet"> -->
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
  <!-- <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script" rel="stylesheet"> -->

</html>
