<div class="modal is-activee" id="modalCreateTemplate">
    <div class="modal-background"></div>
    <div class="modal-content">
        <button class="modal-close is-large" ng-click="closeModalCreateTemplateBtn()"></button>

        <section id="modalCreateTemplateDragZone">

            <div class="columns-grid-wrapper">

                <div class="grid-item grid-drop-col">

                    <div class="drop-zone custom-template" style="position: relative;">


                        <svg class="svg-grid">
                            <g>
                                <!-- <text x="87.5%" y="8.333333333333332%" class="svg-text">head</text>
                                <text x="62.5%" y="41.66666666666667%" class="svg-text">aside</text>
                                <text x="87.5%" y="25%" class="svg-text">main</text>
                                <text x="87.5%" y="41.66666666666667%" class="svg-text">main</text>
                                <text x="87.5%" y="58.333333333333336%" class="svg-text">main</text>
                                <text x="87.5%" y="75%" class="svg-text">main</text>
                                <text x="87.5%" y="91.66666666666666%" class="svg-text">foot</text> -->
                            </g>
                            <g>
                                <line ng-attr-x1="{{(100/vSvgLines)*($index+1)}}%" ng-attr-x2="{{(100/vSvgLines)*($index+1)}}%" y1="0%" y2="100%"
                                 ng-repeat="i in vSvgLinesArr(vSvgLines-1) track by $index" class="svg-grid-lines"></line>
                                <!-- <line x1="25%" y1="0%" x2="25%" y2="100%" class="svg-grid-lines"></line>
                                <line x1="50%" y1="0%" x2="50%" y2="100%" class="svg-grid-lines"></line>
                                <line x1="75%" y1="0%" x2="75%" y2="100%" class="svg-grid-lines"></line> -->
                            </g>
                            <g>
                                <line ng-attr-y1="{{(100/hSvgLines)*($index+1)}}%" ng-attr-y2="{{(100/hSvgLines)*($index+1)}}%" x1="0%" x2="100%"
                                 ng-repeat="i in hSvgLinesArr(hSvgLines-1) track by $index" class="svg-grid-lines"></line>
                                <!-- <line x1="0%" y1="25%" x2="100%" y2="25%" class="svg-grid-lines"></line>
                                <line x1="0%" y1="50%" x2="100%" y2="50%" class="svg-grid-lines"></line>
                                <line x1="0%" y1="75%" x2="100%" y2="75%" class="svg-grid-lines"></line> -->
                            </g>
                        </svg>

                        <div class="drop-zone-grid">
                            <my-drop ng-repeat="item in itemsGridArr" item-number="{{item.val}}">{{item.val}}</my-drop>
                        </div>
                    </div>
                </div>

                <div class="grid-item grid-elements-col">
                    
                    <div class="grid-elements-wrapper">

                        <my-drag draggable="true">
                            <img class="replace-me-my-image" src="images/img_placeholder3.svg">
                        </my-drag>
                        
                        <my-drag draggable="true">
                            <img class="replace-me-my-text" style="vertical-align: middle;" src="images/text.svg">
                        </my-drag>

                        <!-- <my-drag draggable="true">
                            <div>💩</div>
                        </my-drag>
                        
                        <my-drag draggable="true">
                            <div>🐼</div>
                        </my-drag>

                        <my-drag draggable="true">
                            <img class="replace-me-my-image" src="images/med_happy-bee.png">
                        </my-drag>

                        <my-drag draggable="true">
                            <p class="replace-me-my-text">Text</p>
                        </my-drag> -->
                        
                    </div>

                </div>

                <div class="grid-item  grid-tools-col">

                    <div class="field">
                        <label class="label">Columns</label>
                        <div class="control">
                            <input class="input" type="number" placeholder="" ng-model="grid.cols" ng-change="changeColRow('grid.cols',grid.cols)">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Rows</label>
                        <div class="control">
                            <input class="input" type="number" placeholder="" ng-model="grid.rows" ng-change="changeColRow('grid.rows',grid.rows)">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Merge</label>
                        <div class="control">
                            <button class="button is-dark" ng-click="merge()">Merge</button>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Reset</label>
                        <div class="control">
                            <button class="button is-dark" ng-click="reset()">Reset</button>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label">Save</label>
                        <div class="control">
                            <button class="button is-danger" ng-click="save()">
                                <span class="icon is-small" style="color:inherit;">
                                    <i class="fas fa-save"></i>
                                </span>
                                <span>Save</span>
                            </button>
                        </div>
                    </div>

                </div>

            </div>

        </section>

    </div>
</div>